<div class="content-md margin-bottom-30">
  <div class="container">
    <form class="shopping-cart" action="#" novalidate="novalidate">
      <div role="application" class="wizard clearfix" id="steps-uid-0">
        <%= render "steps" %>
        <div class="content clearfix">
          <section>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>产品</th>
                    <th>供应商</th>
                    <th>供应商价格</th>
                    <th>采购单价</th>
                    <th>采购数量</th>
                    <th>小计</th>
                  </tr>
                </thead>
                <tbody>
                  <% 5.times do |i| %>
                    <tr>
                      <td class="product-in-table">
                        <img class="img-responsive" src="assets/img/thumb/08.jpg" alt="">
                        <div class="product-it-in">
                          <h3>长安沃尔沃 2014款 S80L T5 智逸版</h3>
                          <span>汽车采购</span>
                        </div>    
                      </td>
                      <td>国兴汽车服务中心</td>
                      <td>¥ 160.00</td>
                      <td><%= text_field_tag "xx", "¥ 150.00", class: "w80" %></td>
                      <td class="state-success">
                          <button type="button" class="quantity-button" name="subtract" onclick="javascript: subtractQty1();" value="-">-</button>
                          <input type="text" class="quantity-field valid" name="qty1" value="5" id="qty1">
                          <button type="button" class="quantity-button" name="add" onclick="javascript: document.getElementById(&quot;qty1&quot;).value++;" value="+">+</button>
                      </td>
                      <td class="shop-red">$ 320.00</td>
                      <td>
                          <button type="button" class="close"><span>×</span><span class="sr-only">Close</span></button>
                      </td>
                    </tr>
                  <% end -%>
                </tbody>
              </table>
            </div>
          </section>
                    
          <div class="coupon-code">
              <div class="row">
                  <div class="col-sm-4 sm-margin-bottom-30">
                  </div>
                  <div class="col-sm-3 col-sm-offset-5">
                      <ul class="list-inline total-result">
                          <li class="total-price">
                              <h4>总&nbsp;&nbsp;&nbsp;&nbsp;计:</h4>
                              <div class="total-result-in">
                                  <span>$ 1280.00</span>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>    
        </div>
        <div class="actions clearfix">
          <ul role="menu" aria-label="Pagination">
            <li class="disabled" aria-disabled="true">
              <a href="#previous" role="menuitem">继续购物</a>
            </li>
            <li aria-hidden="false" aria-disabled="false">
              <a href="#next" role="menuitem">购买所选产品</a>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div><!--/end container-->
</div>


  