<h2 class="panel-title heading-sm pull-left">
	<i class="fa fa-paw"></i> <%= raw "#{@obj.name} #{@obj.status_badge}" %>
</h2>
<div class='pull-right'>
	<%= btn_group(@obj.cando_list,false) if @obj.class.attribute_method?("cando_list") %>
</div>