<%= show_step(@bargain) %>
<%= show_tabs_with_name(@bargain.name, @arr, 'bargain_tab') %>

<div class="panel panel-grey margin-top-20">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-tasks"></i> 已选报价的供应商</h3>
  </div>
  <div class="panel-body">
    <%= render partial: 'bid_table', locals: { act: act, objs: objs } %>
  </div>
</div>
