<%= show_tabs_with_name("#{@bargain.name} #{@bargain.status_badge}", @arr, 'bargain_tab') %>

<div class="panel panel-grey margin-top-20">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-tasks"></i> 已报价的供应商</h3>
  </div>
  <div class="panel-body">

      <%= render partial: 'bid_table', locals: { act: "confirm", objs: @bids } %>

      <div class="margin-top-20">
        <%= draw_myform(@myform) %>
      </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#confirm_form').on('submit',function(){
      var bid = $("input:radio[name='bid_id']:checked");
     if(bid.length == 0){
      flash_dialog("请选择中标供应商！");
      return false;
     }else {
      $("input#bargains_bid_id").val(bid.val());
     }
    });
  });
</script>
