<div class="filter">
  <!-- 电商筛选 -->
  <div class="filterminlist">
    <div class="filtername" style="border: 0px">电商：</div>
    <dl>
        <dd class="w120">
          <a href="/channel/102_0_0_0_0_11112_0_0">国美销售网</a>
        </dd> 
        <dd class="w120">
          <a href="/channel/102_0_0_0_0_11111_0_0">京东商城</a>
        </dd> 
        <dd class="w120">
          <a href="/channel/102_0_0_0_0_11110_0_0">史泰博</a>
        </dd> 
        <dd class="w120">
          <a href="/channel/102_0_0_0_0_11118_0_0">苏宁易购</a>
        </dd> 
    </dl>
    <div style="clear:both"></div>
  </div>
  <!-- 电商筛选END -->

  <!-- 电商筛选 -->
  <div class="filterminlist">
    <div class="filtername">电商：</div>
    <dl>
        <dd class="w120">
          <a href="/channel/102_0_0_0_0_11112_0_0">国美销售网</a>
        </dd> 
        <dd class="w120">
          <a href="/channel/102_0_0_0_0_11111_0_0">京东商城</a>
        </dd> 
        <dd class="w120">
          <a href="/channel/102_0_0_0_0_11110_0_0">史泰博</a>
        </dd> 
        <dd class="w120">
          <a href="/channel/102_0_0_0_0_11118_0_0">苏宁易购</a>
        </dd> 
    </dl>
    <div style="clear:both"></div>
  </div>
  <!-- 电商筛选END -->
</div>

<style type="text/css">
  .filter {
    clear: both;
    padding-top:5px;
    margin-left: 20px;
  }
  .filterminlist dl{
    margin-bottom: 0px;
  }
  .filterminlist {
    padding:5px 0;
    border-top:1px solid #e8e8e8;
  }
.btnone {
  border-bottom:none;
}
.filtername {
  width:70px;
  float:left;
  line-height: 40px;
  color:#000;
}
.a-values {
  float:left;
}
.a-values ul {
  padding-top:8px;
}
.a-values ul li {
  float:left;
  margin-right:10px;
  color:#000;
  // padding:2px 20px 2px 5px;
  // background:url(/assets/zcl/icon_1.png) no-repeat right -140px;
  padding:2px 5px 2px 5px;
  border:1px solid #dcdcdc;
  cursor:pointer;
}
.a-values ul li:hover {
  border:1px solid #d72727;
}
.a-values ul li span {
  color:#007b36;
}
.v-option {
  width:80px;
  float:right;
  line-height:40px;
  text-align:right;
}
.v-option .more {
  display:inline-block;
  line-height:20px;
  height:20px;
  width:50px;
  background:url(/assets/zcl/icon_1.png) no-repeat 8px 8px;
  cursor:pointer;
  margin-top:10px;
}
.v-option .more:hover {
  background:url(/assets/zcl/icon_1.png) no-repeat 8px -9px;
  color:#007b36;
}
.filter .alling {
  float:left;
  padding:0;
  width:50px;
  margin-top:12px;      
}
.filter .alling a {
  float:left;
  background-color:#018b3e;
  padding:0 5px;
  color:#ffffff;
  text-decoration:none;         
}
.filter dl {
  display:block;
  float:left;
  width:720px;  
}
.filter dd {
  display:inline-block;
  float:left;
  width:auto;
  height:40px;
  line-height:40px;
  width:120px;              
}
.filter dt {
  height:14px;
  font-weight:bold;
  color:#333333;          
}
.filter dd {
  color:#007b36;
}
.filter dd a{
  color:#007b36;
}
.filter a {
  cursor:pointer;
}
</style>
