
<% if current_user.present? %>
  <li><%= "您好，#{current_user.name} [#{link_to('后台管理',main_path)}]".html_safe %></li>
  <li>|</li>
  <li><a href="/users/sign_out">退出</a></li>  
<% else %>
  <li><%= link_to('登录', sign_in_users_path) %></li>
  <li>|</li>
  <li><%= link_to('免费注册', sign_up_users_path) %></li>
<% end %>