  <!--=== Header v4 ===-->    
  <div class="header-v4">
    <!-- Topbar -->
    <div class="topbar-v1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-inline top-v1-contacts">
              <li>
                <i class="fa user"></i> <%= render partial: '/shared/layout/get_user_info' %>
              </li>

            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-inline top-v1-data">
              <li><%= link_to('免费注册', sign_up_users_path) %></li>
              <li><a href="#"></a>帮助中心</li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i>
                </a><a href="#">购物车 <span class="badge badge-red rounded-x">7</span></a></li>
            </ul>
          </div>
        </div>        
      </div>
    </div>
    <!-- End Topbar -->

    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="row container">
            <div class="col-md-4">
              <a href="index-2.html">
                <img alt="Logo" src="/plugins/images/zclfww/logo.gif" id="logo-header">
              </a>
            </div>
            <div class="col-md-8">
              <div class="search-block-v2">
                <div class="">
                  <div class="col-md-10 pull-right">
                    <h5>产品搜索 | 公告搜索 | 供应商搜索</h5>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="请输入搜索内容 ...">
                      <span class="input-group-btn">
                        <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </div>
                </div>    
              </div>
            </div>

          </div>

          <button data-target=".navbar-responsive-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="full-width-menu">Menu Bar</span>
            <span class="icon-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>    
          </button>
        </div>
      </div>    

      <div class="clearfix"></div>

      <%= render partial: '/shared/layout/category' %>
    </div>            
    <!-- End Navbar -->
  </div>
  <!--=== End Header v4 ===-->