<div class="row">
  <div class="col-md-8 pull-left padding-top-5">
    <%= link_to( '<i class="fa fa-plus"></i> 新增'.html_safe, new_kobe_order_path) if action_name.include?('list') %>
  </div>
  <div class="col-md-4 pull-right">
    <%#= render partial: "advanced_search", locals: { search_url: search_url } %>


    <%= search_form_for @q, url: search_url, html: { method: :get } do |f| %>
    <div class="margin-bottom-10">
      <div class="input-group">
        <%= f.search_field :sn_or_contract_sn_or_name_cont, class: "form-control input-sm", placeholder: "请输入项目名称、凭证编号、合同编号..." %>
        <span class="input-group-btn">
          <button class="btn btn-success btn-sm" type="submit">搜索</button>
        </span>

        <span class="margin-left-10 pull-left">
          <button class="btn btn-success btn-sm accordion-toggle" data-target="#advanced_search" data-toggle="collapse" type="button" aria-expanded="true">高级搜索</button>
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="panel-collapse collapse" id="advanced_search" aria-expanded="true" style="">
<div class="tag-box tag-box-v6 col-sm-offset-2 col-sm-8">
    <%= get_advanced_search_form(search_url, Order) %>
  </div>
</div>
