<div class="step">
  <div class="headline"><h2><i class="fa fa-chevron-circle-down"></i>供应商信息</h2></div>
  <table class="table table-bordered table-striped">
    <tr>    
      <th>供应商名称</th>
      <td><%= f.text_field :seller_name %></td>
      <th>供应商联系人</th>
      <td><%= f.text_field :seller_man %></td>
    </tr>
  </table>
</div>
