<div class="certificate">
  <div id="output1" class="erweima"><%=raw @qr%></div>
<div class="h1">中国储备粮管理总公司集中采购电子凭证</div>
<div class="h2">【第一联：采购单位（需方）留存】</div>
<%= render :partial => '/kobe/orders/ysd_table' %>
</div>

<div style="page-break-after:always;">&nbsp;</div>
<div class="certificate">
 <!--[if IE 7]><br style="height:0; line-height:0"><![endif]-->
  <div style="clear:both"></div>
  <div id="output2" class="erweima"><%=raw @qr%></div>
  <div class="h1">中国储备粮管理总公司集中采购电子凭证</div>
  <div class="h2">【第二联：供货商（供方）留存】</div>
<%= render :partial => '/kobe/orders/ysd_table' %>
</div>