<div class="wizard">
  <%#= render "shared/steps", i: 3 %>
  <%= show_step(@order) %>
</div>

<%= draw_myform(@ms_form) %>

<%= render partial: '/kobe/orders/confirm', locals: { title: '买方确认', form_id: 'buyer_confirm_order' } %>
