<div class="tag-box tag-box-v3 height-300 margin-bottom-10">
    <h3 class="panel-title"><i class="fa fa-bell-o"></i> 站内消息</h3>
    <hr>
		<ul class="categories padding-left-15">
			<% if current_user.department.root_id == Dictionary.dep_purchaser_id %>
			<li><a> 集中采购视频培训通知</a></li>
			<li><a> 关于印发2016年集中采购管理目录的通知</a></li>
			<li><a> 关于办公用品网上商城账期还款的通知</a></li>
			<li><a> 关于规范办公用品采购的通知</a></li>
			<li><a> 关于开展采购管理提升对标工作有关事项的通知</a></li>
			<% end %>
			<li><a> 关于加强供应商管理的通知</a></li>
			<li><a> 关于进一步严格磷化铝药剂配送管理的通知</a></li>
		</ul>
</div>
