<div class="table-search-v1 margin-bottom-20">
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="hidden-sm">Description</th>
                    <th>Headquarters</th>
                    <th>Progress</th>
                    <th style="width: 100px;">Status</th>
                    <th>Contacts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">HP Enterprise Service</a>
                    </td>
                    <td class="td-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor arcu.</td>
                    <td>
                        <div class="m-marker">
                            <a href="#"><i class="color-green fa fa-map-marker"></i></a>
                            <a href="#" class="display-b">USA</a>
                            <a href="#">Palo Alto</a>
                        </div>    
                    </td>
                    <td>
                        <div class="progress progress-u progress-xxs">
                            <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%">
                            </div>
                        </div>
                    </td>
                    <td><button class="btn-u btn-u-red btn-block btn-u-xs"><i class="fa fa-sort-amount-desc margin-right-5"></i> Deep</button></td>
                    <td>
                        <span>1(123) 456</span>
                        <span><a href="#">info@example.com</a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Samsung Electronics</a>
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor arcu.</td>
                    <td>
                        <div class="m-marker">
                            <a href="#"><i class="color-green fa fa-map-marker"></i></a>
                            <a href="#" class="display-b">South Korea</a>
                            <a href="#">Suwon</a>
                        </div>
                    </td>    
                    <td>
                        <div class="progress progress-u progress-xxs">
                            <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%">
                            </div>
                        </div>
                    </td>
                    <td><button class="btn-u btn-block btn-u-dark btn-u-xs"><i class="icon-graph margin-right-5"></i> High</button></td>
                    <td>
                        <span>1(123) 456</span>
                        <span><a href="#">info@example.com</a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">LG</a>
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor arcu.</td>
                    <td>
                        <div class="m-marker">
                            <a href="#"><i class="color-green fa fa-map-marker"></i></a>
                            <a href="#" class="display-b">South Korea</a>
                            <a href="#">Seoul</a>
                        </div>
                    </td>
                    <td>
                        <div class="progress progress-u progress-xxs">
                            <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                            </div>
                        </div>
                    </td>
                    <td><button class="btn-u btn-block btn-u-aqua btn-u-xs"><i class="fa fa-level-down margin-right-5"></i> Low</button></td>
                    <td>
                        <span>1(123) 456</span>
                        <span><a href="#">info@example.com</a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Sony Corporation</a>
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor arcu.</td>
                    <td>
                        <div class="m-marker">
                            <a href="#"><i class="color-green fa fa-map-marker"></i></a>
                            <a href="#" class="display-b">Japan</a>
                            <a href="#">Tokyo</a>
                        </div>
                    </td>
                    <td>
                        <div class="progress progress-u progress-xxs">
                            <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                            </div>
                        </div>
                    </td>
                    <td><button class="btn-u btn-block btn-u-yellow btn-u-xs"><i class="fa fa-arrows-v margin-right-5"></i> Middle</button></td>
                    <td>
                        <span>1(123) 456</span>
                        <span><a href="#">info@example.com</a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Lenovo Group</a>
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor arcu.</td>
                    <td>
                        <div class="m-marker">
                            <a href="#"><i class="color-green fa fa-map-marker"></i></a>
                            <a href="#" class="display-b">Chinese</a>
                            <a href="#">Beijing</a>
                        </div>
                    </td>
                    <td>
                        <div class="progress progress-u progress-xxs">
                            <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                            </div>
                        </div>
                    </td>
                    <td><button class="btn-u btn-block btn-u-green btn-u-xs"><i class="fa fa-level-up margin-right-5"></i> High</button></td>
                    <td>
                        <span>1(123) 456</span>
                        <span><a href="#">info@example.com</a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Acer</a>
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor arcu.</td>
                    <td>
                        <div class="m-marker">
                            <a href="#"><i class="color-green fa fa-map-marker"></i></a>
                            <a href="#" class="display-b">Taiwan</a>
                            <a href="#">Taipei</a>
                        </div>
                    </td>
                    <td>
                        <div class="progress progress-u progress-xxs">
                            <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                            </div>
                        </div>
                    </td>
                    <td><button class="btn-u btn-block btn-u-blue btn-u-xs"><i class="icon-graph margin-right-5"></i> Stabile</button></td>
                    <td>
                        <span>1(123) 456</span>
                        <span><a href="#">info@example.com</a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>