<div class="row margin-bottom-20">
  <!--Profile Post-->
  <div class="col-sm-6">
    <div class="panel panel-profile no-bg">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-calendar"></i>待办事项</h2>
      </div>
      <div id="scrollbar" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
        <%= show_to_do_list %>
      </div>
    </div>
  </div>
  <!--End Profile Post-->

  <!--Profile Event-->
  <div class="col-sm-6 md-margin-bottom-20">
    <div class="panel panel-profile no-bg">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-history"></i>催办事项</h2>
      </div>
      <div id="scrollbar2" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">

        <div class="profile-post">
          <span class="profile-post-numb">&nbsp;</span>
          <div class="profile-post-in">
            <h3 class="heading-xs">&nbsp;</h3>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="profile-post">
          <span class="profile-post-numb">&nbsp;</span>
          <div class="profile-post-in">
            <h3 class="heading-xs">&nbsp;</h3>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="profile-post">
          <span class="profile-post-numb">&nbsp;</span>
          <div class="profile-post-in">
            <h3 class="heading-xs">&nbsp;</h3>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="profile-post">
          <span class="profile-post-numb">&nbsp;</span>
          <div class="profile-post-in">
            <h3 class="heading-xs">&nbsp;</h3>
            <p>&nbsp;</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--End Profile Event-->
</div>
