<div class="row margin-bottom-20">
  <!--Profile Post-->
  <div class="col-sm-6">
    <div class="panel panel-profile no-bg">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-calendar"></i>待办事项</h2>
      </div>
      <div id="scrollbar" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
        <%= show_to_do_list %>
      </div>
    </div>        
  </div>
  <!--End Profile Post-->

  <!--Profile Event-->
  <div class="col-sm-6 md-margin-bottom-20">
    <div class="panel panel-profile no-bg">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-history"></i>催办事项</h2>
        <a href="#"><i class="fa fa-cog pull-right"></i></a>
      </div>
      <div id="scrollbar2" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
        <!-- <div class="profile-event">
          <div class="date-formats">
            <span>25</span>
            <small>05, 2014</small>
          </div>
          <div class="overflow-h">
            <h3 class="heading-xs"><a href="#">GitHub seminars in Japan.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
          </div>    
        </div>
        <div class="profile-event">
          <div class="date-formats">
            <span>31</span>
            <small>06, 2014</small>
          </div>
          <div class="overflow-h">
            <h3 class="heading-xs"><a href="#">Bootstrap Update</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
          </div>    
        </div>
        <div class="profile-event">
          <div class="date-formats">
            <span>07</span>
            <small>08, 2014</small>
          </div>
          <div class="overflow-h">
            <h3 class="heading-xs"><a href="#">Apple Conference</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
          </div>    
        </div>
        <div class="profile-event">
          <div class="date-formats">
            <span>22</span>
            <small>10, 2014</small>
          </div>
          <div class="overflow-h">
            <h3 class="heading-xs"><a href="#">Backend Meeting</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
          </div>    
        </div>
        <div class="profile-event">
          <div class="date-formats">
            <span>14</span>
            <small>11, 2014</small>
          </div>
          <div class="overflow-h">
            <h3 class="heading-xs"><a href="#">Google Conference</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
          </div>    
        </div>
        <div class="profile-event">
          <div class="date-formats">
            <span>05</span>
            <small>12, 2014</small>
          </div>
          <div class="overflow-h">
            <h3 class="heading-xs"><a href="#">FontAwesome Update</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
          </div>    
        </div> -->
      </div>    
    </div>
  </div>
  <!--End Profile Event-->
</div>