<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> 供应商单位管理</h3>
    </div>
    <div class="panel-body">
        <%= render partial: 'search', locals: { url: search_dep_kobe_departments_path } %>
    </div>                     
</div>